<!DOCTYPE html>
<html lang="en">

<head>
    <title>Continuous Slide Show</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/Continuous_Slide_Show.css') }} ">
	<script type="text/javascript" data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='js/lib/require.js') }}"></script>

</head>



<body>

<div class="container">

	<div class="outerSlideBody col-lg-12" data-name="slide1">

		<div class="innerSlideBody">
	
			<!--
					ATTENTION: writing  for loop without intendation is necessary to remove "whitespace only text node"
					which is occuring due to the <enter> and <tab> used while looping the code
			-->
			{% for i in range(num)%}<div class="slider " data-active="{% if i==0 %} 1 {% else %} 0 {% endif %}" >
			<div class="thumbnail" style="margin:0px; height:100%; border-radius:0px; background-image:url('{{ url_for( 'static' , filename='css/'+i|string+'.jpg' ) }}'); background-position: center; background-repeat: no-repeat; background-size: cover;" >
				
				<div class="captionSlide">
						<p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
				</div>
					
			</div>
				</div>{% endfor %}
		</div>
	
	
		<span class="left silde-control" data-body="slide1" data-slide="prev" data-active="1">
			<span class="glyphicon glyphicon-chevron-left arrowhead"></span>
		</span>
  
		<span class="right silde-control" data-body="slide1" data-slide="next" data-active="1">
			<span class="glyphicon glyphicon-chevron-right arrowhead"></span>
		</span>
	</div>
	
</div>



</body>
</html>
